.workermaindiv{
    display: flex;
    margin-top: 5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.wrk_subDiv{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0px 70px;
    flex-direction: column;
    cursor: pointer;
}
/* .wrk_subDiv > img{
    border-radius: 50%;
} */
.workerimg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.addministator {
    margin-top: 80px;
    border: 2.5px solid black;
    /* margin-bottom: 20px; */
    color: rgb(247, 240, 240);
    width: 15%;
    float: right;
    cursor: pointer;
    height: 40px;
    font-size: 23px;
    border-radius: 20px;
    background-color: #d61c38;
    margin-right: 130px;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 600px) {
    .addministator {
        margin-top: 80px;
        border: 2.5px solid black;
        margin-bottom: 20px;
        color: rgb(247, 240, 240);
        width: 50% !important;
        float: right;
        cursor: pointer;
        height: 40px;
        font-size: 23px;
        border-radius: 20px;
        background-color: #d61c38;
        margin-right: 90px !important;
      }
  }
