<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 70px;
        }

        h3 {
            text-align: center;
            font-family: Roboto;
            font-size: 32px;
            color: #394141;
        }

        .p1 {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-family: Roboto;
            font-size: 20px;
            color: #394141;
        }

        .p2 {
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            font-family: Roboto;
            font-size: 20px;
            color: #394141;
        }

        .Button {
            background-color: #a72631;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <img src="https://savetime-image.s3.amazonaws.com/logo%20horizontal-e2a04889-62a4-4ad1-b8b5-c42348d208c0.png"
        alt="saveTime logo" height="113" style="background: #ffffff" class="center">
    <div style="padding: 0.5%;">
        <p class="p2">
            Hi <b>
                <%= name%>
            </b>,
        </p>

        <p class="p2">
            To reset your password and continue to enjoy the advantages of Savetime as administrator and have the same
            passwords from the administration panel of your centers, click on the following link and follow the steps:
        </p>

        <p class="p2">
            <b>password reset link</b>
        </p>

        <div style="text-align:center; margin-top:50px;">
            <a href=`http://savetime-web.s3-website.eu-west-3.amazonaws.com/#/center/centerAdminPassword/<%= token%>`>
                <button class="Button"> Check your email</button>
            </a>

        </div>

        <p class="p2">
            <br>Regards,<br>
            <b>Savetime</b> team.
        </p>

        <p class="p2" style="color:blue;">soporte@savetime.es</p>

        <img src="https://savetime-image.s3.eu-west-3.amazonaws.com/Screenshot%20from%202021-05-21%2016-09-36-063d472b-8f1f-4034-b990-7a682743b42c.png"
            alt="saveTime detail" height="120" style="background: #ffffff;margin-left: auto;margin-top: 25px;">


        <p class="p2" style="font-size: 14px;">
            🇬🇧 Warning: This message and the attached documents are only for the person to who this email is
            addressed. If you have received this message in error, we would appreciate it if you delete it immediately
            from your system, destroy all copies of your hard drive and notify the sender.
        </p>

        <p class="p2" style="font-size: 14px;">
            In accordance with the law 15/2003 qualified on the protection of personal data, we inform you that your
            data can be collected and incorporated into the file "Users Savetime" in the public registry "Incripcio de
            Fitxers" of the Andorran Agency for data protection.
        </p>

</body>

</html>