.reset-btn{
  background-color: #f44336;
  color: white;

}
.change-container{
  /* width: 40% !important; */
  margin:1rem auto !important;
}
@media only screen and (max-device-width: 920px) {
  .change-container{
     width: 100% !important;
     margin: 1rem auto !important;
  }
  
}
.enBWRq{
  width: 40% !important;
}
.reset-form .MuiButton-contained:hover{
  background-color: rgb(219, 7, 7) !important;
}
.MuiInput-underline:after{
  border-bottom: 2px solid #f44336 !important;
}
.MuiFormLabel-root.Mui-focused{
  color: #f44336 !important;
}
.MuiInput-underline:hover:not(.Mui-disabled):before{
  border-bottom:2px solid #f44336 !important;
}
