.reset-btn{
  background-color: #D61C38;
  color: white;

}
.reset-container{
  /* width: 40% !important; */
  margin:1rem auto !important;
}
@media only screen and (max-device-width: 920px) {
  .reset-container{
     width: 100% !important;
     margin: 1rem auto !important;
  }
  
}

.reset-form .MuiButton-contained:hover{
  background-color: #D61C38 !important;
}
.MuiInput-underline:after{
  border-bottom: 2px solid #D61C38 !important;
}
.MuiFormLabel-root.Mui-focused{
  color: #D61C38 !important;
}
.MuiInput-underline:hover:not(.Mui-disabled):before{
  border-bottom:2px solid #D61C38 !important;
}
